input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  background-color: #2b2e32;
  padding: 0 10px 10px 10px;
  cursor: move;
  opacity: 1;
  transition: opacity 500ms 1s;
}

#controls:hover {
  opacity: 0.75;
  opacity:1;
  transition-delay: 0;
}

.panel {
	background-color: #2b2e32;
}